/*generales*/

// variables 
$size: 10px;
$amarillo: #FDCD49;
$rosaClaro: #fcbdbd;
$rosaOscuro: #E04DB0;
$rosaOscuro2:rgb(165, 46, 125);
$azul: #1c57d3;
$azulOscuro:#4500bb;
$negro: #000f33;
$blanco: white;

// mixins 
@mixin tamaño ($num, $num2) {
    width: $num;
    height: $num2;
}

@mixin espacios ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin sticky ($top) {
    position: sticky;
    top: $top;
}

@mixin flex ($direction,$justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@keyframes opacidad {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@mixin boton ($color, $colorTexto){
    background-color: $color;
    color: $colorTexto;
    border: 1px solid $color;

    &:hover {
        background:none;
        color: $color;
    }
}