/*font-family: 'Cabin', sans-serif; (textos)
font-family: 'Montserrat', sans-serif; (negrita 1)
font-family: 'Raleway', sans-serif (negrita 2)*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,800;0,900;1,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

svg {
  cursor: pointer;
}

/*generales*/
@-webkit-keyframes opacidad {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacidad {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#inicio {
  height: 90vh;
  padding: 10px 40px;
  text-align: center;
  color: #000f33;
  /*fondo*/
  background-image: url("../src/fotos/fondo-divertido.svg");
  background-size: cover;
  /*textos*/
}

#inicio h1 {
  margin: 100px auto 0 auto;
  width: 400px;
  font-size: 100px;
  font-weight: 800;
  word-wrap: break-word;
}

#inicio h4 {
  font-size: 17px;
  margin-bottom: 30px;
}

#inicio a {
  text-decoration: none;
}

#inicio button {
  width: 180px;
  height: 50px;
  background-color: #1c57d3;
  color: white;
  border: 1px solid #1c57d3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 10px;
}

#inicio button:hover {
  background: none;
  color: #1c57d3;
}

@media screen and (max-width: 380px) {
  #inicio {
    height: 100vh;
  }
  #inicio h1 {
    width: 200px;
    font-size: 80px;
  }
}

#pasos {
  padding-top: 20px;
  background-color: #000f33;
}

#pasos div {
  position: -webkit-sticky;
  position: sticky;
  top: 2%;
  padding: 20px 0;
  background-color: #000f33;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pasos div p {
  text-align: center;
}

#pasos div .title {
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #E04DB0;
}

#pasos div .explicacion {
  font-family: 'Cabin', sans-serif;
  color: white;
  font-weight: 700;
}

#pasos div .explicacion span {
  font-weight: 800;
}

#pasos div video, #pasos div img {
  -webkit-box-shadow: 0px 0px 50px white;
          box-shadow: 0px 0px 50px white;
  border-radius: 30px;
  bottom: 0px;
  margin: 0 auto;
  width: 60%;
  height: auto;
}

#pasos div video source, #pasos div img source {
  margin: 0 auto;
}

@media screen and (max-width: 961px) {
  #pasos {
    padding: 50px;
  }
  #pasos div {
    width: 650px;
    padding-top: 20px;
  }
  #pasos div .title {
    width: 650px;
    font-size: 150px;
    line-height: 120px;
  }
}

@media screen and (max-width: 750px) {
  #pasos div {
    width: 480px;
  }
  #pasos div .title {
    width: 480px;
    line-height: 100px;
    font-size: 120px;
  }
}

@media screen and (max-width: 500px) {
  #pasos div {
    width: 350px;
  }
  #pasos div .title {
    width: 350px;
    font-size: 100px;
  }
}

@media screen and (max-width: 400px) {
  #pasos {
    padding: 20px;
  }
  #pasos div {
    width: 300px;
  }
  #pasos div .title {
    width: 300px;
    font-size: 120px;
    line-height: 90px;
  }
}

#ustedes {
  background-color: #FDCD49;
  text-align: end;
  padding: 80px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#ustedes h2 {
  display: inline-block;
  width: 500px;
  line-height: 180px;
  word-wrap: break-word;
  -webkit-text-fill-color: #FDCD49;
  -webkit-text-stroke-color: #000f33;
  -webkit-text-stroke-width: 3px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

@media screen and (min-width: 1226px) {
  #ustedes h2 {
    font-size: 200px;
  }
}

#ustedes .conteiners {
  display: inline-block;
}

#ustedes .conteiners div {
  background-color: white;
  border-radius: 15px;
  color: #000f33;
  margin: 0 150px 30px 40px;
  padding: 40px;
}

@media screen and (min-width: 662px) {
  #ustedes .conteiners div {
    width: 500px;
    height: 250px;
  }
}

#ustedes .conteiners div .comillas {
  font-size: 50px;
  font-weight: 700;
}

#ustedes .conteiners div:hover {
  -webkit-box-shadow: 1px 1px 20px white;
          box-shadow: 1px 1px 20px white;
}

@media screen and (max-width: 1225px) {
  #ustedes h2 {
    font-size: 180px;
    width: 420px;
  }
  .conteiners div {
    margin-right: 0px  !important;
  }
}

@media screen and (max-width: 961px) {
  #ustedes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #ustedes h2 {
    width: 500px;
    margin: 0 auto;
    font-size: 100px;
  }
  #ustedes .conteiners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 661px) {
  #ustedes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #ustedes h2 {
    font-size: 50px !important;
    width: auto;
  }
  #ustedes .conteiners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ustedes .conteiners div {
    max-width: 500px;
    min-width: 200px;
    margin-left: 0;
  }
}

#pre-footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pre-footer h2 {
  margin: 100px auto 0 auto;
  font-size: 100px;
  font-weight: 800;
  color: #000f33;
}

#pre-footer h2, #pre-footer button {
  margin: 0 auto;
  display: inline;
}

#pre-footer a {
  text-decoration: none;
}

#pre-footer button {
  width: 180px;
  height: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #000f33;
  color: white;
  border: 1px solid #000f33;
}

#pre-footer button:hover {
  background: none;
  color: #000f33;
}

@media screen and (max-width: 540px) {
  #pre-footer h2 {
    font-size: 80px !important;
  }
}

@media screen and (max-width: 400px) {
  #pre-footer h2 {
    font-size: 50px !important;
  }
}

footer {
  width: 100%;
  padding: 50px 20px;
  background-color: #E04DB0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .nosotros {
  width: 300px;
  color: white;
}

footer .nosotros h6 {
  font-size: 30px;
}

footer .comments {
  text-align: start;
}

footer .comments .enviar label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .comments .enviar label .comentarios {
  width: 300px;
  min-height: 40px;
  border: none;
  border-radius: 20px;
  outline-color: #fcbdbd;
  background-color: white;
  font-size: 20px;
  padding: 0 10px;
}

footer .comments .enviar label .mandar {
  width: 100px;
  height: 40px;
  background-color: white;
  color: #E04DB0;
  border: 1px solid white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer .comments .enviar label .mandar:hover {
  background: none;
  color: white;
}

footer .comments .enviar label .graciasComentario {
  color: white;
}

@media screen and (max-width: 1080px) {
  footer .comments .enviar label .graciasComentario {
    margin: 0 auto;
  }
}

footer .comments h4 {
  font-size: 20px;
  text-align: start;
  color: white;
}

footer .pagsTexts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .pagsTexts .texts, footer .pagsTexts .redes {
  margin: 0 60px;
}

footer .pagsTexts .texts ul, footer .pagsTexts .redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0;
}

footer .pagsTexts .texts ul li, footer .pagsTexts .redes ul li {
  display: inline;
  width: 150px;
  list-style: none;
  margin-bottom: 15px;
}

footer .pagsTexts .texts a, footer .pagsTexts .texts h5, footer .pagsTexts .redes a, footer .pagsTexts .redes h5 {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

footer .pagsTexts .texts a:hover, footer .pagsTexts .texts h5:hover, footer .pagsTexts .redes a:hover, footer .pagsTexts .redes h5:hover {
  color: #FDCD49;
}

footer .pagsTexts .texts h5, footer .pagsTexts .redes h5 {
  font-weight: 700;
}

@media screen and (max-width: 1080px) {
  footer .texts, footer .redes {
    margin: 0 30px;
  }
  footer .comments .enviar label .comentarios {
    width: 200px;
  }
}

@media screen and (max-width: 947px) {
  footer .comments {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .nosotros {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  footer .comments {
    display: block;
    margin-bottom: 30px;
  }
  footer .comments h4 {
    text-align: center;
  }
  footer .comments .enviar label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .comments .enviar label .comentarios, footer .comments .enviar label .mandar {
    margin: 10px auto;
  }
  footer .comments .enviar label .comentarios {
    width: 250px;
  }
  footer .pagsTexts {
    width: auto;
  }
  footer .pagsTexts .texts, footer .pagsTexts .redes {
    margin: 0 30px;
  }
}

@media screen and (max-width: 460px) {
  footer .pagsTexts, footer .nosotros {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  footer .comments {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 360px) {
  footer .pagsTexts {
    display: inline;
    text-align: center;
    margin: 0 auto;
  }
}

.scrollDown {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scrollUp {
  -webkit-transform: none;
          transform: none;
}

.header1 {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  padding: 20px 20px;
  background-color: white;
  border-bottom: 1px solid #000f33;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 4;
}

.header1 nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header1 nav div .menu-paginas .clickshare {
  color: #000f33;
  font-weight: 700;
  font-size: 30px;
  margin-right: 30px;
  text-decoration: none;
}

.header1 nav div .menu-paginas .items-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 0px;
  margin-bottom: 0px;
}

.header1 nav div .menu-paginas .items-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header1 nav div .menu-paginas .items-menu li a {
  text-decoration: none;
  color: #000f33;
}

.header1 nav div .botones button a {
  text-decoration: none;
}

.header1 nav div .espacio {
  width: 200px;
}

@media screen and (min-width: 961px) {
  header .menu-mobile .list-mobile, header .menu-mobile .cancel {
    display: none;
  }
  header .menu-mobile li:hover {
    color: white;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  header .menu-mobile .botones button {
    width: 140px;
    height: 45px;
    margin: 2px;
    background: none;
    border: 0.4px solid white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #1c57d3;
    color: white;
    border: 1px solid #1c57d3;
    border-radius: 4px;
  }
  header .menu-mobile .botones button:hover {
    background: none;
    color: #1c57d3;
  }
  header .menu-mobile .botones button a {
    text-decoration: none;
  }
}

@media screen and (max-width: 961px) {
  .header1 .menu-mobile svg:hover {
    fill: #777777;
  }
  .header1 .submenuOff {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header1 .submenuOff svg {
    -webkit-animation-name: opacidad;
            animation-name: opacidad;
    -webkit-animation-duration: 0.1s;
            animation-duration: 0.1s;
    fill: #000f33;
    opacity: 100%;
  }
  .header1 .submenuOff .cancel {
    display: none;
    opacity: 0%;
  }
  .header1 .submenuOff .allMenu {
    z-index: 0;
    top: 50px;
    width: 0%;
    opacity: 0%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .header1 .submenuOff .allMenu div {
    display: none;
  }
  .header1 .submenuOn {
    -webkit-animation-name: opacidad;
            animation-name: opacidad;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
  }
  .header1 .submenuOn .list-mobile {
    display: none;
    opacity: 0%;
  }
  .header1 .submenuOn .cancel {
    display: inline;
    opacity: 100%;
  }
  .header1 .submenuOn .allMenu {
    background-color: white;
    opacity: 100%;
    left: 0px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    height: 110vh;
    padding: 10px;
    text-align: start;
  }
  .header1 .submenuOn .allMenu .clickshare {
    display: none;
  }
  .header1 .submenuOn .allMenu div, .header1 .submenuOn .allMenu div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header1 .submenuOn .allMenu div li, .header1 .submenuOn .allMenu div button, .header1 .submenuOn .allMenu div ul li, .header1 .submenuOn .allMenu div ul button {
    font-size: 30px;
    border: none;
    text-align: start;
    margin: 15px 0;
  }
  .header1 .submenuOn .allMenu div li a, .header1 .submenuOn .allMenu div button a, .header1 .submenuOn .allMenu div ul li a, .header1 .submenuOn .allMenu div ul button a {
    text-align: start;
  }
  .header1 .submenuOn .allMenu div li a:hover, .header1 .submenuOn .allMenu div button a:hover, .header1 .submenuOn .allMenu div ul li a:hover, .header1 .submenuOn .allMenu div ul button a:hover {
    color: #1c57d3;
  }
  .header1 .submenuOn .allMenu div ul, .header1 .submenuOn .allMenu div ul ul {
    border-bottom: 0.5px #cccccc solid;
    padding-bottom: 10px;
  }
  .header1 .submenuOn .allMenu div button, .header1 .submenuOn .allMenu div ul button {
    background: none;
    padding-bottom: 0%;
  }
}

.is {
  height: 100% !important;
  background-color: #fefdff;
  text-align: center;
}

.is svg {
  margin-top: 20px;
  fill: #000f33;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.is svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.is .conteinerCompu {
  margin: 70px auto;
  text-align: center;
}

.is .conteinerCompu h1 {
  font-family: 'Raleway', sans-serif;
  display: inline;
  color: #000f33;
  font-size: 80px;
  font-weight: 900;
  word-wrap: break-word;
}

.is .conteinerCompu a {
  color: #1c57d3;
  text-decoration: none;
}

.is .conteinerCompu a:hover {
  text-decoration: underline;
}

.is .conteinerCompu form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.is .conteinerCompu form input {
  width: 500px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #cecece;
  padding-left: 10px;
  background: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.is .conteinerCompu form input:focus {
  border-bottom: 2.5px solid #1c57d3;
}

.is .conteinerCompu form .boton {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #1c57d3;
  color: white;
  border: 1px solid #1c57d3;
  width: 200px;
  height: 50px;
}

.is .conteinerCompu form .boton:hover {
  background: none;
  color: #1c57d3;
}

.is .conteinerCompu form h6 {
  text-align: start;
  color: #1c57d3;
  margin-bottom: 20px;
}

@media screen and (min-width: 961px) {
  .is svg {
    position: fixed;
    top: 20px;
    left: 50px;
  }
}

@media screen and (max-width: 961px) {
  .is {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .is {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .is .conteinerCompu {
    text-align: start;
  }
  .is .conteinerCompu form input {
    width: 300px;
    text-align: start;
  }
}

@media screen and (max-width: 300px) {
  .is {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    text-align: start;
  }
}

.centro-ayuda .preguntas-destacadas {
  background-color: #000f33;
  padding: 50px 0 120px 0;
}

.centro-ayuda .preguntas-destacadas h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #E04DB0;
  font-weight: 700;
  margin: 30px 0;
  font-size: 50px;
}

.centro-ayuda .preguntas-destacadas .todas-pregs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centro-ayuda .preguntas-destacadas .todas-pregs .preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.centro-ayuda .preguntas-destacadas .todas-pregs .preguntas div {
  border: 1px #000f33 solid;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  width: 470px;
  height: 80px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
}

.centro-ayuda .preguntas-destacadas .todas-pregs .preguntas div p {
  margin-bottom: 10px;
  line-height: 25px;
  font-weight: 400;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.centro-ayuda .preguntas-destacadas .todas-pregs .preguntas div:hover {
  height: 200px;
}

.centro-ayuda .preguntas-destacadas .todas-pregs .preguntas div:hover .ans {
  -webkit-animation-name: animacion-ans;
          animation-name: animacion-ans;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 100%;
}

@-webkit-keyframes animacion-ans {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes animacion-ans {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.centro-ayuda .preguntas-destacadas .todas-pregs .preguntas div .ans {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
}

@media screen and (min-width: 961px) {
  .preguntas-destacadas .todas-pregs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 961px) {
  .centro-ayuda .busqueda div input {
    width: 200px;
    margin: auto;
  }
  .centro-ayuda .preguntas-destacadas .todas-pregs div {
    margin: auto;
  }
  .centro-ayuda .preguntas-destacadas .todas-pregs div .contenedores {
    width: 400px !important;
  }
}

@media screen and (max-width: 630px) {
  .centro-ayuda .busqueda h4 {
    font-size: 40px;
  }
  .centro-ayuda .busqueda div input {
    width: auto !important;
  }
  .centro-ayuda .preguntas {
    margin: auto;
  }
  .centro-ayuda .preguntas .contenedores {
    width: auto !important;
    max-width: 300px;
  }
  .centro-ayuda .preguntas .contenedores:hover {
    height: 280px !important;
  }
}

.tutoriales-inicio {
  background-image: url("../src/fotos/neon.jpeg");
  background-size: 100%;
  width: 100%;
  height: 90vh;
}

.tutoriales-inicio h5, .tutoriales-inicio p {
  color: white;
  text-align: center;
  font-size: 60px;
}

.tutoriales-inicio h5 {
  padding-top: 50px;
  font-weight: 700;
  font-size: 80px;
}

.privBody {
  background-color: #FDCD49;
}

.privBody .politica-priv {
  width: 500px;
  font-size: 20px;
  margin: 50px auto;
}

.privBody .politica-priv h2 {
  margin: 100px 0 30px 0;
  font-weight: 900;
  color: #000f33;
  font-size: 50px;
}

.privBody .politica-priv p {
  margin-bottom: 50px;
  line-height: 30px;
  font-weight: 500;
  color: #1d0647;
}

.privBody .politica-priv p span {
  font-size: 35px;
  color: #000f33;
}

.privBody header .botones .botonHeader {
  background-color: #000f33;
  color: white;
  border: 1px solid #000f33;
}

.privBody header .botones .botonHeader:hover {
  background: none;
  color: #000f33;
}

.privBody footer {
  background-color: #000f33;
}

.privBody footer .mandar {
  color: #000f33 !important;
}

.privBody footer .mandar:hover {
  color: white !important;
}

@media screen and (max-width: 470px) {
  .politica-priv {
    width: 300px !important;
  }
  .politica-priv h2 {
    font-size: 30px;
  }
}

.light header {
  background-color: white;
}

.light h2 {
  color: #6d6d6d;
}

.light a, .light h6, .light p, .light h3, .light svg {
  fill: #4e4e4e;
  color: #000000;
}

.light .extraBoxes div {
  background-color: white;
}

.light .grupos-pag .header-photo-options li:hover {
  background-color: #f1f1f1;
}

.light .grupos-pag .header-photo-options .lightmode .sol {
  display: none;
}

.light .grupos-pag .header-photo-options .lightmode .luna {
  display: inline;
}

.light .grupos-pag .grupos .addNewGroup, .light .grupos-pag .grupos .grupoIMG {
  background-color: #f1f1f1;
}

.light .grupos-pag .grupos .cartel-opc-grupos, .light .grupos-pag .grupos .list-participants {
  -webkit-box-shadow: 2px 2px 8px rgba(56, 56, 56, 0.137);
          box-shadow: 2px 2px 8px rgba(56, 56, 56, 0.137);
  background-color: white;
}

.light .grupos-pag .perfil svg:hover, .light .grupos-pag .perfil .nombreUsuario:hover {
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}

.light .grupos-pag .perfil svg:hover {
  -webkit-filter: contrast(0.3);
          filter: contrast(0.3);
}

.light .addGrupo .contentCrearGrupo {
  background-color: white;
}

.light .addGrupo .contentCrearGrupo h3 {
  color: #4e4e4e;
}

.light .addGrupo .contentCrearGrupo input {
  background-color: white;
  border: #bdbdbd solid 0.5px;
}

.light .addGrupo .contentCrearGrupo button {
  background-color: #E04DB0;
  color: white;
  border: 1px solid #E04DB0;
}

.light .addGrupo .contentCrearGrupo button:hover {
  background: none;
  color: #E04DB0;
}

.dark {
  background-color: #201f23;
}

.dark a, .dark h6, .dark p, .dark h3, .dark svg, .dark h2, .dark input, .dark ul, .dark li {
  fill: white;
  color: white;
}

.dark .extraBoxes div {
  background-color: #181818;
}

.dark header {
  border-right: 1px solid white;
  background-color: #1b1b1b;
}

.dark header .perfil svg {
  fill: white;
}

.dark header .perfil svg:hover {
  -webkit-filter: contrast(0.3);
          filter: contrast(0.3);
}

.dark header .perfil .perfil-options {
  -webkit-filter: drop-shadow(0px 0px 0px white);
          filter: drop-shadow(0px 0px 0px white);
}

.dark .grupos-pag .header-photo-options li:hover {
  background-color: rgba(128, 128, 128, 0.377);
}

.dark .grupos-pag .header-photo-options .lightmode .luna {
  display: none;
}

.dark .grupos-pag .grupos .addNewGroup, .dark .grupos-pag .grupos .grupoIMG {
  background-color: rgba(128, 128, 128, 0.377);
}

.dark .grupos-pag .grupos .cartel-opc-grupos, .dark .grupos-pag .grupos .list-participants {
  -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.137);
          box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.137);
  background-color: #2e2e2e;
}

.dark .grupos-pag .grupos .cartel-opc-grupos li, .dark .grupos-pag .grupos .list-participants li {
  color: white;
}

.dark .grupos-pag .infoGroup .settings {
  fill: white;
}

.dark .grupos-pag .infoGroup #nombreGrupo {
  color: white;
}

.dark .grupos-pag .infoGroup svg path {
  pointer-events: none;
}

.dark .addGrupo .contentCrearGrupo {
  background-color: #181818;
}

.dark .addGrupo .contentCrearGrupo h3, .dark .addGrupo .contentCrearGrupo h6 {
  color: white;
}

.dark .addGrupo .contentCrearGrupo input {
  background-color: #201f23;
  border: white solid 0.5px;
  color: white;
}

.dark .addGrupo .contentCrearGrupo button {
  background-color: #E04DB0;
  color: #1b1b1b;
  border: 1px solid #E04DB0;
}

.dark .addGrupo .contentCrearGrupo button:hover {
  background: none;
  color: #E04DB0;
}

.dark .addGrupo .contentCrearGrupo svg {
  fill: white;
}

#gruposBody {
  overflow: hidden;
}

#gruposBody .cerrado {
  display: none;
}

#gruposBody .abierto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#gruposBody header {
  top: 0px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  -webkit-box-shadow: 0px 0px 5px #9e9e9e;
          box-shadow: 0px 0px 5px #9e9e9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 60px;
}

#gruposBody header h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}

#gruposBody header .perfil {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody header .perfil #fotoPerfil {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

#gruposBody header .perfil #fotoPerfil img {
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#gruposBody header .perfil #fotoPerfil:hover {
  cursor: pointer;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

#gruposBody header .perfil .nombreUsuario {
  font-weight: 400;
  margin-right: 20px;
  margin-bottom: 0;
}

#gruposBody header .perfil .perfil-options {
  z-index: 100;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: white;
}

#gruposBody header .perfil .perfil-options button {
  width: 200px;
  padding: 20px;
  background: none;
  border: none;
  text-align: start;
}

#gruposBody header .perfil .perfil-options button:hover {
  background-color: #e4e4e4;
}

#gruposBody header .perfil .perfil-options #cerrarSesion {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#gruposBody header .perfil .perfil-options #miCuenta {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#gruposBody .grupos-pag {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 80%;
      grid-template-columns: 200px 80%;
}

#gruposBody .grupos-pag .header-photo-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  padding: 20px 20px;
}

#gruposBody .grupos-pag .header-photo-options ul {
  padding: 0px;
}

#gruposBody .grupos-pag .header-photo-options ul li {
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  list-style: none;
  font-weight: 500;
}

#gruposBody .grupos-pag .header-photo-options ul li a {
  text-decoration: none;
}

#gruposBody .grupos-pag .grupos {
  margin: 0px 10px 50px 80px;
}

#gruposBody .grupos-pag .grupos h3 {
  font-weight: 400;
  margin-top: 50px;
  font-size: 60px;
}

#gruposBody .grupos-pag .grupos #allGroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoInfo {
  margin-right: 30px;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoInfo h6 {
  margin: 10px;
  text-align: center;
}

#gruposBody .grupos-pag .grupos #allGroups .addNewGroup {
  margin-right: 30px;
}

#gruposBody .grupos-pag .grupos #allGroups .addNewGroup svg {
  fill: #E04DB0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#gruposBody .grupos-pag .grupos #allGroups .addNewGroup:hover svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG div {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG div svg, #gruposBody .grupos-pag .grupos #allGroups .grupoIMG div button {
  margin: 0 auto;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .foto-perfil-grupo {
  overflow: hidden;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .foto-perfil-grupo svg {
  fill: #bebebe;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .foto-perfil-grupo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .edit-group {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -200px;
  background-color: rgba(0, 0, 0, 0.226);
  opacity: 0%;
  pointer-events: none;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .edit-group button {
  pointer-events: all;
  background-color: #E04DB0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border: none;
  border-radius: 50%;
  padding: 9px;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .edit-group button:hover {
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG .edit-group button svg {
  pointer-events: none;
  fill: white;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG:hover .edit-group {
  opacity: 100%;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG, #gruposBody .grupos-pag .grupos #allGroups .addNewGroup {
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#gruposBody .grupos-pag .grupos #allGroups .grupoIMG:hover, #gruposBody .grupos-pag .grupos #allGroups .addNewGroup:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.281);
          box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.281);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

#gruposBody .grupos-pag .grupos #allGroups .addNewGroup, #gruposBody .grupos-pag .grupos #allGroups .grupoIMG div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup svg {
  width: 23px;
  height: 23px;
  margin: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup svg:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup svg path {
  pointer-events: none;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .list-participants {
  overflow-y: scroll;
  width: auto;
  max-height: 200px;
  list-style: none;
  padding: 0px;
  position: absolute;
  top: 170px;
  border-radius: 10px;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .list-participants li {
  padding: 5px;
  width: 180px;
  display: inline;
  text-align: start;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .list-participants li:first-child {
  font-weight: 700;
  border-bottom: #d8d8d8 1px solid;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .list-participants li p {
  margin: 0px;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .cartel-opc-grupos {
  position: absolute;
  top: 170px;
  height: 100px;
  border-radius: 10px;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .cartel-opc-grupos ul {
  padding: 0px;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .cartel-opc-grupos ul li {
  cursor: pointer;
  width: 150px;
  height: 50px;
  width: 150px;
  font-size: 15px;
  list-style: none;
  padding: 15px 10px;
  text-align: center;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .cartel-opc-grupos ul li:hover {
  background-color: rgba(243, 243, 243, 0.432);
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .cartel-opc-grupos ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#gruposBody .grupos-pag .grupos .group-photos-section .infoGroup .cartel-opc-grupos ul li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#gruposBody .grupos-pag .grupos .section-photos {
  margin-top: 50px;
}

#gruposBody .grupos-pag .grupos .section-photos h6 {
  font-size: 60px;
  font-weight: 400;
  margin-right: auto;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG {
  margin: 5px;
  height: 200px;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG img, #gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG {
  height: 100%;
  width: auto;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG {
  position: relative;
  top: -200px;
  -webkit-transition: 0.3s all  ease;
  transition: 0.3s all  ease;
  opacity: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG .option-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 5px 5px 0;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG .option-image .eliminar-imagen {
  position: absolute;
  right: 30px;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG .option-image .eliminar-imagen:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG .option-image .heart {
  margin-left: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  cursor: pointer;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG .option-image .heart svg {
  pointer-events: none;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG .option-image .heart:hover svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG svg {
  width: 20px;
  height: 20px;
  fill: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .hoverIMG svg path {
  pointer-events: none;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG:hover .hoverIMG {
  background: -webkit-gradient(linear, left top, left bottom, from(#4e4e4ea1), color-stop(#9198e500), to(#4e4e4ea1));
  background: linear-gradient(#4e4e4ea1, #9198e500, #4e4e4ea1);
  opacity: 100%;
}

#gruposBody .grupos-pag .grupos .section-photos .photosCSS .IMG .person-uploaded {
  color: white !important;
  padding: 5px;
}

#gruposBody .editGrupo .content-edit {
  width: 400px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .editGrupo .content-edit .img-of-group .new-file-group {
  height: 160px;
  opacity: 0%;
}

#gruposBody .editGrupo .content-edit .img-of-group .new-img-group {
  width: 250px;
  height: 160px;
  border: 0.5px solid #969696;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gruposBody .editGrupo .content-edit .img-of-group .new-img-group img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

#gruposBody .editGrupo .content-edit .img-of-group .new-img-group svg {
  margin: auto;
  fill: lightgray;
}

#gruposBody .editGrupo .content-edit .img-of-group:hover .new-img-group {
  background-color: rgba(78, 78, 78, 0.144);
}

#gruposBody .editGrupo .content-edit input, #gruposBody .editGrupo .content-edit button {
  margin: 10px auto;
  border: 0.5px solid #969696;
  width: 250px;
  height: 30px;
  padding: 5px;
  color: #000000;
  outline: none;
}

#gruposBody .editGrupo .content-edit #enviar-cambios-grupo {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #1c57d3;
  color: white;
  border: 1px solid #1c57d3;
}

#gruposBody .editGrupo .content-edit #enviar-cambios-grupo:hover {
  background: none;
  color: #1c57d3;
}

#gruposBody .shareGroupId-bg div {
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .shareGroupId-bg div p {
  font-size: 20px;
}

#gruposBody .shareGroupId-bg div h2 {
  font-size: 60px;
}

#gruposBody .extraBoxes {
  z-index: 0;
  background-color: #5e5e5e48;
  position: fixed;
  width: 100%;
  height: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .extraBoxes .cancel {
  fill: white !important;
  position: relative;
  top: 50px;
  right: -230px;
}

#gruposBody .addGrupo {
  display: none;
}

#gruposBody .addGrupo .contentCrearGrupo {
  display: inline-block;
  width: auto;
  height: 450px;
  border-radius: 30px;
}

#gruposBody .addGrupo .contentCrearGrupo svg {
  display: inline;
  margin: 30px 0 0 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#gruposBody .addGrupo .contentCrearGrupo svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#gruposBody .addGrupo .contentCrearGrupo h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

#gruposBody .addGrupo .contentCrearGrupo input {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  padding-left: 10px;
  outline: none;
  margin-bottom: 20px;
}

#gruposBody .addGrupo .contentCrearGrupo button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100px;
  height: 40px;
}

#gruposBody .addGrupo .contentCrearGrupo .formCrearGrupo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px;
}

#gruposBody .addGrupo .contentCrearGrupo .formCrearGrupo p {
  margin: 5px auto;
}

#gruposBody .uploadPhoto-bg {
  background-color: #5e5e5e48;
  position: fixed;
  width: 100%;
  height: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner {
  width: 400px;
  height: 400px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label {
  width: 350px;
  height: 350px;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label .label_dragover--down, #gruposBody .uploadPhoto-bg .upload-img-conteiner label:hover div {
  background-color: rgba(117, 117, 117, 0.158);
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label input {
  opacity: 0%;
  position: absolute;
  width: 350px;
  height: 350px;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label .upload-img_button {
  border-radius: 30px;
  border: dashed 3px #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label .upload-img_button svg {
  fill: #e0e0e0;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label .upload-img_button .previewIMG {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

#gruposBody .uploadPhoto-bg .upload-img-conteiner label .upload-img_button .previewIMG:hover {
  -webkit-filter: brightness(-10%);
          filter: brightness(-10%);
}

#gruposBody .uploadPhoto-bg button {
  width: 150px;
  height: 40px;
  background-color: #1c57d3;
  color: white;
  border: 1px solid #1c57d3;
  margin-top: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#gruposBody .uploadPhoto-bg button:hover {
  background: none;
  color: #1c57d3;
}

#gruposBody .uploadPhoto-bg button:active {
  background-color: #1c57d3;
}

#gruposBody .displayGrupos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gruposBody .account-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

#gruposBody .account-settings h6 {
  padding: 0px;
  color: #E04DB0;
}

#gruposBody .account-settings .perfilImg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#gruposBody .account-settings .perfilImg div {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#gruposBody .account-settings .perfilImg .IMGperfil {
  overflow: hidden;
}

#gruposBody .account-settings .perfilImg .IMGperfil img {
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#gruposBody .account-settings .perfilImg .IMGperfil .perfilCotent {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#gruposBody .account-settings .perfilImg .change-icon-div {
  display: none;
  background-color: #0400ff57;
  position: relative;
  top: -200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#gruposBody .account-settings .perfilImg .change-icon-div svg {
  fill: white;
}

#gruposBody .account-settings .perfilImg .change-icon-div input {
  opacity: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

#gruposBody .account-settings .perfilImg:hover .change-icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gruposBody .account-settings #eliminar-cuenta {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}

#gruposBody .account-settings label p {
  margin: 0px 0px 5px 0;
}

#gruposBody .account-settings label input {
  width: 400px;
  height: 40px;
  background: none;
  border: solid 1px gray;
  padding: 10px;
}

#gruposBody .account-settings label #enviar-cambios-user {
  margin-top: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #1c57d3;
  color: white;
  border: 1px solid #1c57d3;
}

#gruposBody .account-settings label #enviar-cambios-user:hover {
  background: none;
  color: #1c57d3;
}

#fotoPerfil svg {
  pointer-events: none;
}

.displayNone {
  display: none !important;
}

.toastify {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 10px !important;
  font-size: 12px;
}

@media screen and (max-width: 961px) {
  .grupoInfo, .addNewGroup {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 700px) {
  .grupos {
    margin-left: 10px !important;
  }
  .grupos .section-photos .IMG {
    height: 100px !important;
  }
  .grupos .section-photos h6 {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 630px) {
  #allGroups {
    width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */