@media screen and (max-width: 500px){

    // extenciones dentro de medias
    

    // tutoriales 
    .body-tuto { 
        .header-tuto {
            @include tamaño (100%, 80px !important);
        
            ul {
                @include flex (row !important, space-around !important);
                position: relative;
                bottom: 40px;
            }
        }

        .texto-explicacion {
            max-width: 100%;
            
            h5, p {
                font-size: $size * 1.2;
                margin-right: 0px !important;
                padding: 0 50px;
            }
        }

        @media screen and (max-width: 310px){
            .videos {
                transform: scale(0.7);
            }
        }
    }

    
    
}

