.centro-ayuda {
    
    
    .preguntas-destacadas {
        background-color: $negro;
        padding: 50px 0 120px 0;
        
        h5 {
            font-family: 'Raleway', sans-serif;
            text-align: center;
            color: $rosaOscuro;
            font-weight: 700;
            margin: 30px 0;
            font-size: 50px
        }

        .todas-pregs {
            @include flex (column, center);

            .preguntas {
                @include flex (column, initial);
                
                div {
                    border: 1px $negro solid;
                    background-color: white;
                    border-radius: 20px;
                    @include espacios (10px, 20px);
                    @include tamaño (470px, 80px);
                    transition: all 0.8s ease; 
                    cursor: pointer;

                    p {
                        margin-bottom: 10px;
                        line-height: 25px;
                        font-weight: 400;
                        transition: all 0.5s;
                    }

                    &:hover {
                        height: 200px;

                        .ans {
                            animation-name: animacion-ans;
                            animation-duration: 1s;

                            @keyframes animacion-ans {
                                0% {opacity: 0; }
                                30% {opacity: 0; }
                                100% {opacity: 100; }
                            }

                            opacity: 100%;
                        }
                    }

                    .ans {
                        transition: all 0.2s ease-in;
                        opacity: 0;
                    }
                }   
            }
        }
        
    }
}

@media screen and (min-width: 961px) {
    

    .preguntas-destacadas {
        
        .todas-pregs {
            @include flex (row !important, center) ;
        }

    }
}

@media screen and (min-width: 500px) and (max-width: 961px){
    // centro de ayuda
    .centro-ayuda {
        .busqueda {

            div input {
                width: 200px;
                margin: auto;
            }
        }


        .preguntas-destacadas {
            .todas-pregs {  
                div {
                    margin: auto;

                    .contenedores {
                        width: 400px !important;    
                    }
                }
            }
            
        }    
    }
    
}

@media screen and (max-width: 630px){
    // centro de ayuda 
    .centro-ayuda {
        .busqueda {
            h4 {
                font-size: 40px;
            }

            div input {
                width: auto !important;
            }
        }
        
        .preguntas {
        margin: auto;
        
            .contenedores {
                width: auto!important;
                max-width: 300px;
                
                &:hover {
                    height: 280px !important;
                }
            }
        }
    }
}