.privBody {


    .politica-priv {
        width: 500px;
        font-size: 20px;
        margin: 50px auto;

        h2 {
            font-weight: 900;
            color: rgb(0, 187, 140);
            font-size: 50px;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 50px;
            line-height: 30px;
            font-weight: 500;
            color: rgb(29, 6, 71);

            span {
                font-size: $size *3.5;
                color: rgb(0, 187, 140);
            }
        }   
    }
}

// política de privacidad 
@media screen and (max-width: 470px){
        
    .politica-priv {
        width: 300px !important;

        h2 {
            font-size: 30px;
        }
    }
}