// cuando baja 

.scrollDown {
    transform: translate3d(0, -100%, 0);
}

.scrollUp {
    transform: none;
}

.header1 {
    transition: transform 0.4s;  
    padding:  20px 20px ; 
    background-color: $blanco;
    border-bottom: 1px solid $negro;
    @include sticky (0%); 
    z-index: 4;
    

    nav {

        div {
            @include flex (row, space-between);
            align-items: center;

            .menu-paginas {
                .clickshare {
                    color: $negro;
                    font-weight: 700;
                    font-size: 30px;
                    margin-right: 30px;
                    text-decoration: none;
                }

                .items-menu {
                    @include flex (row, start);
                    padding-left: 0px;
                    margin-bottom: 0px;

                    li {
                        @include flex (row, center);
                        align-items: center;
                        @include tamaño (100px, 40px);
                        transition: all 0.2s;

                        a {
                            text-decoration: none;
                            color: $negro;
                        }
                    }

                }
            }

            .botones button a{
                text-decoration: none;
            }
            
            .espacio {
                width: 200px;
            }

        }
    }
}

// compu
@media screen and (min-width: 961px) {
    header {
        .menu-mobile {
            .list-mobile, .cancel {
                display: none;
            }

            li:hover {
                color: white;
                transform:translateY(-3px);
            }

            .botones {
                button {
                    @include tamaño (140px, $size *4.5);
                    margin: $size *0.2;

                    background:none;
                    border: 0.4px solid white;
                    transition: all 0.3s ease;

                    @include boton ($azul, $blanco);

                    a {
                        text-decoration: none;
                    }
                
                    border-radius: 4px;
                }
            }
        }
    }
}

// media query 
// menu para el responsive en ipad y mobile 
@media screen and (max-width: 961px){

    .header1 {

        .menu-mobile svg:hover {
            fill: rgb(119, 119, 119);
        }

        .submenuOff {
            display: inline-flex;
            flex-direction: column;

            svg {
                animation-name: opacidad;
                animation-duration: 0.1s;

                fill: $negro;
                opacity: 100%;
            }

            .cancel {
                display: none;
                opacity: 0%;
            }

            .allMenu {
                z-index: 0;
                top: 50px;
                width: 0%;
                opacity: 0%;
                transition: all 0.7s ease;

                div {
                    display: none;
                }
            }
        }

        .submenuOn {
            animation-name: opacidad;
            animation-duration: 0.3s;

            .list-mobile {
                display: none;
                opacity: 0%;
            }
            .cancel {
                display: inline;
                opacity: 100%;
            }

            .allMenu{
                background-color: rgb(255, 255, 255);
                opacity: 100%;
                left: 0px;
                position: absolute;
                @include flex (column, start);
                @include tamaño (100%, 110vh);
                padding: 10px;
                text-align: start;

                .clickshare {
                    display: none;
                }

                div, div ul {
                    display: flex;
                    flex-direction: column;

                    li, button {
                        font-size: 30px;
                        border: none;
                        text-align: start;
                        margin: 15px 0;

                        a {
                            text-align: start;

                            &:hover {
                                color: $azul;
                            }

                        }
                    } 

                    ul {
                        border-bottom: 0.5px rgb(204, 204, 204) solid;
                        padding-bottom: 10px;
                    }

                    button {
                        color: black;
                        background: none;
                        padding-bottom: 0%;
                    }
                }

            }
        }
    }
}
