
#inicio{
    height: 90vh;
    padding: 10px 40px;
    text-align: center;
    color: $negro;

    /*fondo*/
    background-image: url("../src/fotos/fondo-divertido.svg");
    background-size: cover;

    /*textos*/
    h1 {
        margin: 100px auto 0 auto;
        width: 400px;
        font-size: 100px;
        font-weight: 800;
        word-wrap: break-word;

        // text-shadow: 10px 10px $rosaClaro ;
    }

    h4 {
        font-size: $size *1.7; 
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
    }

    button {
        @include tamaño (180px, 50px);
        @include boton ($azul, white);
        transition: all 0.3s ease;
        margin: 0 10px;
    }

    
}

// mobile
@media screen and (max-width: 380px){
    #inicio {
        height: 100vh;

        h1 {
            width: 200px;
            font-size: 80px;
        }
    } 
}
