#pasos {
    padding-top: 20px ;
    background-color: $negro;

    
    div {
        @include sticky (5%);
        padding: 20px 0 50px 0;
        background-color: $negro;
        @include flex (column, center);

        p {
            text-align: center;
        }

        .title {
            font-family: 'Cabin', sans-serif;
            font-size: 60px ;
            font-weight: 600;
            color: $rosaOscuro;
        }

        .explicacion{
            font-family: 'Cabin', sans-serif;
            color: white;
            font-weight: 700;
            
            span {
                font-weight: 800;
            }
        }

        video, img {
            box-shadow: 0px 0px 50px white;
            border-radius: 30px;
            bottom: 0px;
            margin: 0 auto;
            @include tamaño (60%, auto);

            source {
                margin: 0 auto;
            }
        }
    }



    @media screen and (max-width: 961px){

        div video, img {
            height: 300px;
            width: auto;
        }
    }  
    
    @media screen and (max-width: 720px){

        div video, img {
            width: 80%;
            height: auto;
        }
    }   

    @media screen and (max-width: 560px){

        div {
            height: 100vh;

            video, img {
                display: none;
            }

            .title {
                margin: auto;
                margin-bottom: 50px;
                font-weight: 900;
                font-size: 100px;
                width: 80%;
                line-height: 100px;
                word-wrap: break-word;
            }

            .explicacion {
                margin: auto;
                width: 80%;
                font-size: 20px;
            }
        }
    }   
}
