#pasos {
    padding: 20px 0;
    background-color: $negro;

    
    div {
        @include sticky (2%);
        padding: 20px 0;
        background-color: $negro;
        margin: 0 auto;
        @include flex (column, center);

        p {
            text-align: center;
        }

        .title {
            font-family: 'Cabin', sans-serif;
            font-size: 60px ;
            font-weight: 600;
            color: $rosaOscuro;
        }

        .explicacion{
            font-family: 'Cabin', sans-serif;
            color: white;
            font-weight: 700;
            
            span {
                font-weight: 800;
            }
        }

        video {
            box-shadow: 0px 0px 50px white;
            border-radius: 30px;
            bottom: 0px;
            margin: 0 auto;
            @include tamaño (60%, auto);

            source {
                margin: 0 auto;
            }
        }
    }



    @media screen and (max-width: 961px){
        padding: 50px;

        div {
            width: 650px;
            padding-top: 20px;

            .title {
                width: 650px ;
                font-size: 150px;
                line-height: 120px;
            }
        }
    }   

    @media screen and (max-width: 750px){
        div {
            width: 480px;

            .title {
                width: 480px;
                line-height: 100px;
                font-size: 120px;
            }
        }
    }

    @media screen and (max-width: 500px){
        div {
            width: 350px ;
            .title {
                width: 350px ;
                font-size: 100px;
            }
        }
    }

    @media screen and (max-width: 400px){
        padding: 20px;
        div {
            width: 300px ;
            .title {
                width: 300px ;
                font-size: 120px;
                line-height: 90px;
            }
        }
    }
    
}
