#pre-footer {
    text-align: center;

    @include flex (column, center);
        
    h2 {
        margin: 100px auto 0 auto;
        font-size: 100px;
        font-weight: 800;
        color: $negro;
    }

    h2, button {
        margin: 0 auto;
        display: inline;
    }

    a {
        text-decoration: none
    }

    button {
        @include tamaño (180px, 40px);
        transition: all 0.2s ease-in-out;
        @include boton ($negro, white);
    }

    @media screen and (max-width: 540px){
        h2 {
            font-size: 80px !important;
        }
    }
    
    @media screen and (max-width: 400px){
        h2 {
            font-size: 50px !important;
        }
    }
}

